{
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "semi": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx"],
  "endOfLine": "auto"
}
